/* translate.animation.css */

@keyframes translate {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.translate {
  animation: translate 0.5s ease;
}

.header {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-top: 2%;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(110, 112, 112);
}
.cards {
  width: 60%;
  height: 80%;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2% auto;
  padding: 10px 25px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  height: 80px;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  background-color: rgb(243, 250, 255);
  width: 70%;
  box-shadow: 0 0 5px 1px rgba(126, 125, 125, 0.24);
}
.islamique {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 8%;
  padding: 10px 25px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  height: 80px;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  background-color: white !important;
  width: 70%;
  box-shadow: 0 0 5px 1px rgba(126, 125, 125, 0.24);
  transition: 0.3s ease !important  ;
}
.card:hover .material-icons {
  color: rgba(254, 182, 0, 1);
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 12px 1px rgba(138, 136, 136, 0.5);
}
.islamique:hover {
  transform: none !important;
  box-shadow: 0 0 5px 1px rgba(126, 125, 125, 0.24) !important;
}

.card p:hover {
  color: rgb(2, 2, 2);
}

.card p {
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto;
  margin-left: 5%;
}
.selected {
  border: 2px solid rgba(114, 33, 130, 1);
  padding: 5px;
}

.selected::after {
  content: "sélectionné";
  text-align: start;
  margin-right: 10%;
  color: rgba(114, 33, 130, 1);
  font-size: small;
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 2.5rem;
  }
  .cards {
    width: 80vw;
  }
}
@media screen and (max-width: 800px) {
  .title {
    font-size: 2rem;
  }
  .cards {
    width: 90vw;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }
  .cards {
    width: 100vw;
  }
}
@media screen and (max-width: 400px) {
  .title {
    font-size: 1.3rem;
  }
  .card {
    width: 90%;
  }
}
