<div class="header d-flex justify-content-center translate">
  <div class="title">Confirmez votre email</div>
  <span class="subtitle">
    Rendez-vous dans votre boîte e-mail pour récupérer le code de confirmation à
    6 chiffres.
  </span>
</div>
<div class="logo-container">
  <img src="../../../../assets/emailConfirm.png" alt="" />
</div>
<div class="form-group">
  <div class="digit-container">
    <div *ngFor="let input of inputs; let i = index">
      <input
        #input
        [(ngModel)]="inputValues[i]"
        [disabled]="i !== currentInput"
        [class.selected]="i == currentInput"
        (keyup)="onKeyup(i)"
        type="text"
        class="form-control digit"
        maxlength="1"
        placeholder="*"
        [autofocus]="i === currentInput"
      />
    </div>
  </div>
</div>

<div class="button-container">
  <button class="btn btn1">Renvoyez l'email de confirmation</button>
  <button
    class="btn btn2"
    (click)="submit()"
    [routerLink]="['/simulation/upload']"
  >
    Confirmer
  </button>
</div>
