<div class="container-fluid">
  <app-navbar></app-navbar>

  <!-- <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <th>nom du dossier</th>
        <th>Courtier</th>
        <th>Montant du prêt</th>
        <th>catégorie</th>
        <th>completer</th>
      </tr>
      <tr *ngFor="let d of Folders">
        <td>{{ d.nom }}</td>
        <td>{{ d.courtier }}</td>
        <td>{{ d.montantDuPret }}</td>
        <td>{{ d.categorie }}</td>
        <td>{{ d.completer }}</td>
      </tr>
    </tbody>
  </table> -->
  <!-- Your Angular Component Template -->
  <div class="accordion mt-5 accordion-flush" id="accordionFlushExample">
    <div class="accordion-item" *ngFor="let folder of Folders; let i = index">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          [attr.data-bs-toggle]="'collapse'"
          [attr.data-bs-target]="'#flush-collapse' + i"
          [attr.aria-expanded]="false"
          [attr.aria-controls]="'flush-collapse' + i"
        >
          {{ folder.nom }}
        </button>
      </h2>
      <div
        [attr.id]="'flush-collapse' + i"
        class="accordion-collapse collapse"
        [attr.aria-labelledby]="'flush-heading' + i"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <!-- Your accordion body content -->
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <th>Courtier</th>
                <th>Montant du prêt</th>
                <th>catégorie</th>
                <th>completer</th>
              </tr>
              <tr>
                <td>{{ folder.courtier }}</td>
                <td>{{ folder.montantDuPret }}</td>
                <td>{{ folder.categorie }}</td>
                <td>{{ folder.completer }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
