.img-fluid {
  height: 100%;
  width: 100%;
  box-shadow: 4px 0px 5px 3px rgba(173, 158, 158, 0.84);
}
.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: none;
}
.form-container {
  width: 27rem;
  height: 67%;
  margin: auto;

  border-radius: 15px;
}
.input-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  width: 40%;
  background-color: #742484;
  color: white;
  border-radius: 20px;

  margin-top: 40px;
}
.txt {
  text-align: center;
  text-shadow: 0 0 2px #74248494;
  letter-spacing: 1px;
  width: 100%;
}
.txt span {
  color: #742484;
}
.txt span:hover {
  font-weight: bold;
  cursor: pointer;
}
