<div class="header d-flex justify-content-center w-100 translate">
  <div class="title">Choisissez votre type de crédit</div>
</div>
<div class="row cards translate">
  <div class="col-sm-6 col-md-4 col-lg-6">
    <div class="card" (click)="carPrice(3990000)">
      <img src="../../../../assets/tiggo4.png" />
      <div class="card-info">
        <p class="cars-name">CHERY Tiggo 4 pro</p>
        <p>3.990.000 DZD</p>

        <span class="material-icons">arrow_forward_ios</span>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-6" (click)="carPrice(3549000)">
    <div class="card">
      <img src="../../../../assets/tiggo2.png" />
      <div class="card-info">
        <p class="cars-name">CHERY Tiggo 2 pro</p>
        <p>3.549.000 DZD</p>
        <span class="material-icons">arrow_forward_ios</span>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-6" (click)="carPrice(3499000)">
    <div class="card">
      <img src="../../../../assets/arrizo5.png" />
      <div class="card-info">
        <p class="cars-name">CHERY Arrizo 5</p>
        <p>3.499.000 DZD</p>
        <span class="material-icons">arrow_forward_ios</span>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-6" (click)="carPrice(4178000)">
    <div class="card">
      <img src="../../../../assets/500x.png" />
      <div class="card-info">
        <p class="cars-name">FIAT 500x</p>
        <p>4.178.000 DZD</p>
        <span class="material-icons">arrow_forward_ios</span>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-6" (click)="carPrice(3995000)">
    <div class="card">
      <img src="../../../../assets/tipo.png" />
      <div class="card-info">
        <p class="cars-name">FIAT Tipo</p>
        <p>3.995.000 DZD</p>
        <span class="material-icons">arrow_forward_ios</span>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-6" (click)="carPrice(3380000)">
    <div class="card">
      <img src="../../../../assets/fiat500.png" />
      <div class="card-info">
        <p class="cars-name">FIAT 500</p>
        <p>3.380.000 DZD</p>
        <span class="material-icons">arrow_forward_ios</span>
      </div>
    </div>
  </div>
</div>
