<div class="container translate">
  <div class="header d-flex justify-content-center w-100">
    <div class="title">Veuillez introduire vos paramètres de calcul</div>
  </div>
  <form class="forms" [formGroup]="applyForm" (ngSubmit)="submitForm()">
    <div
      style="
        border: 0.6px solid rgba(0, 0, 0, 0.164);
        border-radius: 15px;
        padding: 15px;
      "
    >
      <div class="form-group" *ngIf="!vehicule">
        <input
          [ngClass]="{
            errForm:
              (applyForm.get('consommation')?.touched &&
                !applyForm.get('consommation')?.dirty) ||
              (applyForm.get('consommation')?.invalid &&
                applyForm.get('consommation')?.dirty) ||
              (submitted && applyForm.get('consommation')?.invalid),
            'with-icon':
              applyForm.get('consommation')?.dirty &&
              !applyForm.get('consommation')?.invalid
          }"
          type="text"
          class="form-control with-icon"
          id="floatingInputGrid"
          placeholder="Montant de crédit *"
          formControlName="consommation"
          appFormatInput
          required
        />
        <p
          class="err-msg"
          *ngIf="
            (applyForm.get('consommation')?.touched &&
              !applyForm.get('consommation')?.dirty) ||
            (applyForm.get('consommation')?.invalid &&
              applyForm.get('consommation')?.dirty) ||
            (submitted && applyForm.get('consommation')?.invalid)
          "
        >
          Champs obligatoire et le montant entre 500 000 DZD et 3 500 000 DZD
        </p>
      </div>
      <div class="form-group" *ngIf="vehicule">
        <input
          [ngClass]="{
            errForm:
              (applyForm.get('consommation')?.touched &&
                !applyForm.get('consommation')?.dirty) ||
              (applyForm.get('consommation')?.invalid &&
                applyForm.get('consommation')?.dirty) ||
              (submitted && applyForm.get('consommation')?.invalid),
            'with-icon':
              applyForm.get('consommation')?.dirty &&
              !applyForm.get('consommation')?.invalid
          }"
          type="text"
          class="form-control with-icon"
          id="floatingInputGrid"
          placeholder="Montant de véhicule *"
          formControlName="consommation"
          appFormatInput
          required
        />
        <p
          class="err-msg"
          *ngIf="
            (applyForm.get('consommation')?.touched &&
              !applyForm.get('consommation')?.dirty) ||
            (applyForm.get('consommation')?.invalid &&
              applyForm.get('consommation')?.dirty) ||
            (submitted && applyForm.get('consommation')?.invalid)
          "
        >
          Champs obligatoire et le montant entre 500 000 DZD et 3 500 000 DZD
        </p>
      </div>
      <div class="form-group">
        <input
          [ngClass]="{
            errForm:
              (applyForm.get('revenue')?.touched &&
                !applyForm.get('revenue')?.dirty) ||
              (applyForm.get('revenue')?.invalid &&
                applyForm.get('revenue')?.dirty) ||
              (submitted && applyForm.get('revenue')?.invalid),
            'with-icon':
              applyForm.get('revenue')?.dirty &&
              !applyForm.get('revenue')?.invalid
          }"
          type="text"
          class="form-control"
          id="floatingInputGrid"
          placeholder="Revenue de l'emprunteur *"
          formControlName="revenue"
          appFormatInput
          required
        />
        <p
          class="err-msg"
          *ngIf="
            (applyForm.get('revenue')?.touched &&
              !applyForm.get('revenue')?.dirty) ||
            (applyForm.get('revenue')?.invalid &&
              applyForm.get('revenue')?.dirty) ||
            (submitted && applyForm.get('revenue')?.invalid)
          "
        >
          Champs obligatoire
        </p>
      </div>

      <div class="form-group">
        <input
          [ngClass]="{
            errForm:
              (applyForm.get('age')?.touched && !applyForm.get('age')?.dirty) ||
              (applyForm.get('age')?.invalid && applyForm.get('age')?.dirty) ||
              (submitted && applyForm.get('age')?.invalid)
          }"
          type="number"
          class="form-control"
          id="floatingInputGrid"
          placeholder="l'âge de l'emprunteur *"
          formControlName="age"
          required
        />
        <p
          class="err-msg"
          *ngIf="
            (applyForm.get('age')?.touched && !applyForm.get('age')?.dirty) ||
            (applyForm.get('age')?.invalid && applyForm.get('age')?.dirty) ||
            (submitted && applyForm.get('age')?.invalid)
          "
        >
          Champs obligatoire entre 19ans et 70ans
        </p>
      </div>
      <div class="form-group">
        <input
          [ngClass]="{
            errForm:
              (applyForm.get('credit')?.touched &&
                !applyForm.get('credit')?.dirty) ||
              (applyForm.get('credit')?.invalid &&
                applyForm.get('credit')?.dirty) ||
              (submitted && applyForm.get('credit')?.invalid),
            'with-icon':
              applyForm.get('credit')?.dirty &&
              !applyForm.get('credit')?.invalid
          }"
          type="text"
          class="form-control"
          id="floatingInputGrid"
          placeholder="Le crédit souhaité *"
          formControlName="credit"
          appFormatInput
          required
        />

        <p
          class="err-msg"
          *ngIf="
            (applyForm.get('credit')?.touched &&
              !applyForm.get('credit')?.dirty) ||
            (applyForm.get('credit')?.invalid &&
              applyForm.get('credit')?.dirty) ||
            (submitted && applyForm.get('credit')?.invalid)
          "
        >
          Ce champs est obligatoire est ne depasse pas 70% du montant de
          {{ vehicule ? "véhicule" : "crédit" }}
        </p>
      </div>
      <div class="form-group">
        <input
          [ngClass]="{
            errForm:
              (applyForm.get('durer')?.touched &&
                !applyForm.get('durer')?.dirty) ||
              (applyForm.get('durer')?.invalid &&
                applyForm.get('durer')?.dirty) ||
              (submitted && applyForm.get('durer')?.invalid)
          }"
          type="number"
          class="form-control"
          id="floatingInputGrid"
          placeholder="La durée de financement *"
          formControlName="durer"
          required
        />
        <p
          class="err-msg"
          *ngIf="
            (applyForm.get('durer')?.touched &&
              !applyForm.get('durer')?.dirty) ||
            (applyForm.get('durer')?.invalid &&
              applyForm.get('durer')?.dirty) ||
            (submitted && applyForm.get('durer')?.invalid)
          "
        >
          Champs obligatoire la duree maximale est de {{ dureeMax }} ans
        </p>
      </div>
    </div>
    <div
      class="input-container"
      style="
        border: 0.6px solid rgba(0, 0, 0, 0.164);
        border-radius: 15px;
        padding: 15px;
      "
    >
      <p class="questions">Avez vous un co-emprunteur ?</p>
      <div class="suppositions-container">
        <span
          class="supposition"
          (click)="setCoBorrower(true)"
          [class.selected]="coBorrower"
          >Oui</span
        >
        <span
          class="supposition"
          (click)="setCoBorrower(false)"
          [class.selected]="!coBorrower"
          >Non</span
        >
      </div>
      <div class="form-group">
        <input
          [ngClass]="{
            errForm:
              coBorrower &&
              ((applyForm.get('revenueCo')?.touched &&
                !applyForm.get('revenueCo')?.dirty) ||
                (applyForm.get('revenueCo')?.invalid &&
                  applyForm.get('revenueCo')?.dirty) ||
                (submitted && applyForm.get('revenueCo')?.invalid)),
            'with-icon':
              applyForm.get('revenueCo')?.dirty &&
              !applyForm.get('revenueCo')?.invalid
          }"
          type="text"
          class="form-control"
          id="floatingInputGrid"
          placeholder="Revenue de co-emprunteur *"
          formControlName="revenueCo"
          [disabled]="!coBorrower"
          required
          appFormatInput
        />
      </div>
      <div class="form-group">
        <input
          [ngClass]="{
            errForm:
              coBorrower &&
              ((applyForm.get('ageCo')?.touched &&
                !applyForm.get('ageCo')?.dirty) ||
                (applyForm.get('ageCo')?.invalid &&
                  applyForm.get('ageCo')?.dirty) ||
                (submitted && applyForm.get('ageCo')?.invalid))
          }"
          type="number"
          class="form-control"
          id="floatingInputGrid"
          placeholder="L'âge de co-emprunteur *"
          formControlName="ageCo"
          [disabled]="!coBorrower"
          required
        />
      </div>
    </div>

    <div
      class="input-container"
      style="
        border: 0.6px solid rgba(0, 0, 0, 0.164);
        border-radius: 15px;
        padding: 15px;
      "
    >
      <p class="questions">Avez vous un autre financement en cours ?</p>
      <div class="suppositions-container">
        <span
          class="supposition"
          (click)="setOtherFinancing(true)"
          [class.selected]="otherFinancing"
          >Oui</span
        >
        <span
          class="supposition"
          (click)="setOtherFinancing(false)"
          [class.selected]="!otherFinancing"
          >Non</span
        >
      </div>
      <div class="form-group">
        <input
          [ngClass]="{
            errForm:
              otherFinancing &&
              ((applyForm.get('otherFinancing')?.touched &&
                !applyForm.get('otherFinancing')?.dirty) ||
                (applyForm.get('otherFinancing')?.invalid &&
                  applyForm.get('otherFinancing')?.dirty) ||
                (submitted && applyForm.get('otherFinancing')?.invalid)),
            'with-icon':
              applyForm.get('otherFinancing')?.dirty &&
              !applyForm.get('otherFinancing')?.invalid
          }"
          type="text"
          class="form-control"
          id="floatingInputGrid"
          placeholder="Mentionnez ce montant *"
          formControlName="otherFinancing"
          [disabled]="!otherFinancing"
          appFormatInput
          required
        />
      </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <button class="btn btn-primary">Lancer la simulation</button>
    </div>
  </form>
</div>
