<div class="container-fluid">
  <!-- <div class="bg-fond"></div> -->
  <div class="sidebar">
    <div class="sidebar-logo-container">
      <img src="../../assets/bankLogo.png" />
    </div>
    <div
      class="container-text"
      [routerLink]="['/client/dashbord']"
      (click)="dashboardSelected()"
    >
      <span class="material-icons sidebar-icons">arrow_forward_ios</span>
      <span class="sidebar-text" [ngClass]="{ 'special-class': selected }">
        Dashboard</span
      >
    </div>
    <div
      class="container-text"
      [routerLink]="['/client/nouveau-credit']"
      (click)="creditSelected()"
    >
      <span class="material-icons sidebar-icons"> arrow_forward_ios </span>

      <span class="sidebar-text" [ngClass]="{ 'special-class': cselected }"
        >Nouveau crédit</span
      >
    </div>
    <div
      class="container-text"
      [routerLink]="['/client/dossier']"
      (click)="dossierSelected()"
    >
      <span class="material-icons sidebar-icons"> arrow_forward_ios </span>

      <span class="sidebar-text" [ngClass]="{ 'special-class': dselected }"
        >Mes dossier</span
      >
    </div>
    <div
      class="container-text"
      [routerLink]="['/client/profile']"
      (click)="profileSelected()"
    >
      <span class="material-icons sidebar-icons"> arrow_forward_ios </span>

      <span class="sidebar-text" [ngClass]="{ 'special-class': pselected }"
        >Mon profile</span
      >
    </div>
  </div>

  <div class="card-container scale-in">
    <router-outlet></router-outlet>
  </div>
</div>
