<div class="container-fluid">
  <div class="navbar">
    <span class="material-icons navbar-icons-header" (click)="goBack()"
      >arrow_back_ios</span
    >
    <div class="navbar-logo-container">
      <img src="../../assets/bankLogo.png" />
    </div>
  </div>
  <!-- <div class="bg-fond"></div> -->
  <div class="sidebar">
    <div class="sidebar-logo-container">
      <img src="../../assets/bankLogo.png" />
    </div>
    <div class="container-text">
      <span class="material-icons sidebar-icons">{{
        url === "/simulation/immobilier" ||
        url === "/simulation/consomation" ||
        url === "/simulation/form" ||
        url === "/simulation/result" ||
        url === "/simulation/notice" ||
        url === "/simulation/register" ||
        url === "/simulation/confirmation" ||
        url === "/simulation/success" ||
        url === "/simulation/formConsomation"
          ? "check"
          : "arrow_forward_ios"
      }}</span>
      <span
        class="sidebar-text"
        [ngClass]="{
          sidebarScal:
            url === '/simulation/type' ||
            url === '/simulation/immobilier' ||
            url === '/simulation/consomation' ||
            url === '/simulation/form' ||
            url === '/simulation/result' ||
            url === '/simulation/notice' ||
            url === '/simulation/register' ||
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success' ||
            url === '/simulation/formConsomation'
        }"
        >Type de financement</span
      >
    </div>
    <div class="container-text">
      <span class="material-icons sidebar-icons">
        {{
          url === "/simulation/form" ||
          url === "/simulation/result" ||
          url === "/simulation/notice" ||
          url === "/simulation/register" ||
          url === "/simulation/confirmation" ||
          url === "/simulation/success" ||
          url === "/simulation/formConsomation"
            ? "check"
            : "arrow_forward_ios"
        }}
      </span>
      <span
        class="sidebar-text"
        [ngClass]="{
          sidebarScal:
            url === '/simulation/immobilier' ||
            url === '/simulation/consomation' ||
            url === '/simulation/form' ||
            url === '/simulation/result' ||
            url === '/simulation/notice' ||
            url === '/simulation/register' ||
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success' ||
            url === '/simulation/formConsomation'
        }"
        >Projet à financer</span
      >
    </div>
    <div class="container-text">
      <span class="material-icons sidebar-icons">
        {{
          url === "/simulation/result" ||
          url === "/simulation/notice" ||
          url === "/simulation/register" ||
          url === "/simulation/confirmation" ||
          url === "/simulation/upload" ||
          url === "/simulation/success"
            ? "check"
            : "arrow_forward_ios"
        }}
      </span>
      <span
        class="sidebar-text"
        [ngClass]="{
          sidebarScal:
            url === '/simulation/form' ||
            url === '/simulation/result' ||
            url === '/simulation/notice' ||
            url === '/simulation/register' ||
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success' ||
            url === '/simulation/formConsomation'
        }"
        >Simuler votre credit</span
      >
    </div>
    <div class="container-text">
      <span class="material-icons sidebar-icons">
        {{
          url === "/simulation/notice" ||
          url === "/simulation/register" ||
          url === "/simulation/confirmation" ||
          url === "/simulation/upload" ||
          url === "/simulation/success"
            ? "check"
            : "arrow_forward_ios"
        }}
      </span>
      <span
        class="sidebar-text"
        [ngClass]="{
          sidebarScal:
            url === '/simulation/result' ||
            url === '/simulation/notice' ||
            url === '/simulation/register' ||
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success'
        }"
        >Résultat de la simulation</span
      >
    </div>
    <hr
      class="mt-5 mb-5"
      style="
        width: 70%;
        margin: 0 auto;
        color: rgb(163, 159, 159);
        border: 1px solid;
      "
    />
    <div class="container-text mt-5">
      <span class="material-icons sidebar-icons">
        {{
          url === "/simulation/confirmation" ||
          url === "/simulation/upload" ||
          url === "/simulation/success"
            ? "check"
            : "arrow_forward_ios"
        }}
      </span>
      <span
        class="sidebar-text"
        [ngClass]="{
          sidebarScal:
            url === '/simulation/register' ||
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success'
        }"
        >Inscriptions</span
      >
    </div>

    <div class="container-text">
      <span class="material-icons sidebar-icons">
        {{
          url === "/simulation/upload" || url === "/simulation/success"
            ? "check"
            : "arrow_forward_ios"
        }}
      </span>
      <span
        class="sidebar-text"
        [ngClass]="{
          sidebarScal:
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success'
        }"
        >Confirmation email</span
      >
    </div>
    <div class="container-text">
      <span class="material-icons sidebar-icons">
        {{ url === "/simulation/success" ? "check" : "arrow_forward_ios" }}
      </span>
      <span
        class="sidebar-text"
        [ngClass]="{
          sidebarScal:
            url === '/simulation/upload' || url === '/simulation/success'
        }"
        >Chargement des documents</span
      >
    </div>
  </div>
  <nav
    style="
      --bs-breadcrumb-divider: url(
        &#34;data:image/svg + xml,
        %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%236c757d'/%3E%3C/svg%3E&#34;
      );
      width: 100%;
    "
    aria-label="breadcrumb"
  >
    <ol class="breadcrumb">
      <li
        class="breadcrumb-item"
        aria-current="page"
        [ngClass]="{
          currentNav:
            url === '/simulation/immobilier' ||
            url === '/simulation/consomation' ||
            url === '/simulation/type' ||
            url === '/simulation/form' ||
            url === '/simulation/result' ||
            url === '/simulation/notice' ||
            url === '/simulation/register' ||
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success' ||
            url === '/simulation/formConsomation'
        }"
      >
        Type de financement
      </li>
      <li
        class="breadcrumb-item"
        aria-current="page"
        [ngClass]="{
          currentNav:
            url === '/simulation/immobilier' ||
            url === '/simulation/consomation' ||
            url === '/simulation/form' ||
            url === '/simulation/result' ||
            url === '/simulation/notice' ||
            url === '/simulation/register' ||
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success' ||
            url === '/simulation/formConsomation'
        }"
      >
        Projet à financer
      </li>
      <li
        class="breadcrumb-item"
        aria-current="page"
        [ngClass]="{
          currentNav:
            url === '/simulation/form' ||
            url === '/simulation/result' ||
            url === '/simulation/notice' ||
            url === '/simulation/register' ||
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success' ||
            url === '/simulation/formConsomation'
        }"
      >
        Simuler votre credit
      </li>
      <li
        class="breadcrumb-item"
        aria-current="page"
        [ngClass]="{
          currentNav:
            url === '/simulation/result' ||
            url === '/simulation/notice' ||
            url === '/simulation/register' ||
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success'
        }"
      >
        Résultat de la simulation
      </li>
      <li
        class="breadcrumb-item"
        aria-current="page"
        [ngClass]="{
          currentNav:
            url === '/simulation/register' ||
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success'
        }"
      >
        Inscriptions
      </li>
      <li
        class="breadcrumb-item"
        aria-current="page"
        [ngClass]="{
          currentNav:
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success'
        }"
      >
        Confirmation email
      </li>
      <li
        class="breadcrumb-item"
        aria-current="page"
        [ngClass]="{
          currentNav:
            url === '/simulation/upload' || url === '/simulation/success'
        }"
      >
        Chargement des documents
      </li>
    </ol>
  </nav>
  <div class="card-container scale-in">
    <div class="logo-container mb-2">
      <span class="material-icons icons-header" (click)="goBack()"
        >arrow_back_ios</span
      >
      <div class="bar">
        <input
          class="bar-input"
          type="radio"
          name="input"
          id="input_0"
          [checked]="url === '/simulation/success'"
          disabled
        />
        <div class="bar-view">
          <label class="bar-button" for="input_0"></label>
        </div>
        <input
          class="bar-input"
          type="radio"
          name="input"
          id="input_1"
          [checked]="url === '/simulation/upload'"
          disabled
        />
        <div class="bar-view">
          <label class="bar-button" for="input_1"></label>
        </div>
        <input
          class="bar-input"
          type="radio"
          name="input"
          id="input_2"
          [checked]="
            url === '/simulation/register' || url === '/simulation/confirmation'
          "
          disabled
        />
        <div class="bar-view">
          <label class="bar-button" for="input_2"> </label>
        </div>
        <input
          class="bar-input"
          type="radio"
          name="input"
          id="input_3"
          [checked]="
            url === '/simulation/result' || url === '/simulation/notice'
          "
          disabled
        />
        <div class="bar-view">
          <label class="bar-button" for="input_3"></label>
        </div>
        <input
          class="bar-input"
          type="radio"
          name="input"
          id="input_4"
          [checked]="
            url === '/simulation/type' ||
            url === '/simulation/immobilier' ||
            url === '/simulation/consomation' ||
            url === '/simulation/form' ||
            url === '/simulation/formConsomation'
          "
          disabled
        />
        <div class="bar-view">
          <label class="bar-button" for="input_4"></label>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
