<div class="details-info">
  <div class="numero">Dossier n° : 1125</div>
  <div class="details-column">
    <div class="title-container">
      <label>Nom:</label>
      <div>KHELF</div>
    </div>
    <div class="title-container">
      <label>Prénom:</label>
      <div>Ferhat</div>
    </div>

    <div class="title-container">
      <label>Date de naissance:</label>
      <div>07/07/1997</div>
    </div>

    <div class="title-container">
      <label>Adresse email :</label>
      <div>ferhat&#64;gmail.com</div>
    </div>

    <div class="title-container">
      <label>Numéro de télephone</label>
      <div>0560...</div>
    </div>
    <div class="title-container">
      <label>Nationnalité :</label>
      <div>Algerienne</div>
    </div>
    <div class="title-container">
      <label>Adresse</label>
      <div>Ouaguneoun tizi ouzou</div>
    </div>
    <div class="title-container">
      <label>Code postal</label>
      <div>15048</div>
    </div>
  </div>
</div>
