<div class="header d-flex justify-content-center w-100 translate">
  <div class="title">Important !</div>
</div>
<div class="container translate">
  <span class="subtitle">
    Veuillez vous assurer d'avoir en votre possession les documents PDF suivants
    pour les inclure dans votre demande de financement. Notez que ces documents
    resteront confidentiels dans notre système :
  </span>
  <div class="document-container">
    <div class="document mt-3">
      <span class="material-icons">check_circle</span
      ><span>Pièce d'itentié</span>
    </div>
    <div class="document mt-3">
      <span class="material-icons">check_circle</span>
      <span>Fiche de paie</span>
    </div>
    <div class="document mt-3">
      <span class="material-icons">check_circle</span>
      <span
        >L'acte de propriété ou la décision d'affectation doit être établi au
        nom du demandeur de financement.
      </span>
    </div>
  </div>
  <div class="btn-container">
    <button class="btn btn1" [routerLink]="['']">Refuser</button>
    <button class="btn btn2" [routerLink]="['/simulation/register']">
      Accepter
    </button>
  </div>
</div>
