<div class="header d-flex justify-content-center translate mb-5">
  <div class="title">Importez vos fichiers PDF</div>
  <span class="subtitle">
    Il ne vous reste qu'une étape ! Soumettez vos documents en format PDF pour
    finaliser le processus et accéder à tous les avantages de votre compte
  </span>
</div>
<div class="file">
  <span>1- Pièce d'identité</span>
  <div class="input-group p-3">
    <input type="file" class="form-control" id="inputGroupFile01" />
  </div>
  <span>2- Fiche de paie</span>
  <div class="input-group p-3">
    <input type="file" class="form-control" id="inputGroupFile01" />
  </div>
  <span>3- L'acte de propriété ou la décision d'affectation</span>
  <div class="input-group p-3">
    <input type="file" class="form-control" id="inputGroupFile01" />
  </div>
</div>
<div class="btn-container">
  <button class="btn" [routerLink]="['/simulation/success']">Envoyez</button>
</div>
