<nav>
  <ul>
    <li>
      <div class="logo">
        <img src="../../assets/bankLogo.png" />
      </div>
    </li>
    <li>
      <a class="nav-txt" (click)="navigateDash()">
        <span class="material-icons">dashboard</span>
        <span class="nav-item"> Dashboard</span>
      </a>
    </li>
    <li>
      <a class="nav-txt" (click)="navigateCredit()">
        <span class="material-icons">assessment</span>
        <span class="nav-item"> Nouveau crédit </span>
      </a>
    </li>
    <li>
      <a class="nav-txt" (click)="navigateDossier()">
        <span class="material-icons">folder</span>
        <span class="nav-item"> Mes dossier </span>
      </a>
    </li>
    <li>
      <a class="nav-txt" (click)="navigateProfile()">
        <span class="material-icons">people</span>
        <span class="nav-item"> Mon profile </span>
      </a>
    </li>
  </ul>
</nav>
