@keyframes translate {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.translate {
  animation: translate 0.5s ease;
}
.container-fluid {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.title-container {
  display: flex;

  justify-content: center;

  margin-top: 50px;
  font-size: 24px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px 1px rgba(133, 129, 129, 0.479);
  height: 150px;
  background-color: rgba(255, 255, 255, 0.884);

  border: 1px solid #ddddddb2;
  border-radius: 5px;
}

.special-card {
  box-shadow: 0 0 15px 1px rgba(85, 82, 82, 0.479);

  background-color: rgba(114, 33, 130, 1);
  color: #fff;
}
.special-card .material-icons {
  color: #fff;
}
.material-icons {
  font-size: 40px;
  margin-bottom: 10px;
  color: #666565;
}

.txt {
  font-size: 16px;
}

.class2-container .col {
  margin-bottom: 15px;
}

.card:hover .material-icons {
  color: rgba(254, 182, 0, 1);
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card p:hover {
  color: rgb(2, 2, 2);
}
