<div class="header d-flex justify-content-center w-100 translate">
  <div class="title">Choisissez votre type de crédit</div>
</div>
<div class="row cards translate">
  <div class="col">
    <div class="card" (click)="consomationType('produit electronique')">
      <p>Produit électronique et électroménager</p>
      <span class="material-icons">arrow_forward_ios</span>
    </div>
    <div class="card" (click)="consomationType('meubles et accessoires')">
      <p>Meubles et accessoires de maison</p>
      <span class="material-icons">arrow_forward_ios</span>
    </div>
    <div class="card" (click)="consomationType('véhicule a usage touristique')">
      <p>Véhicule à usage touristique</p>
      <span class="material-icons">arrow_forward_ios</span>
    </div>
  </div>
</div>
