<div class="header d-flex justify-content-center w-100 translate">
  <div class="title">Type de financement</div>
</div>
<div class="row cards translate">
  <div class="col">
    <div class="card" [routerLink]="['/simulation/islamique']">
      <p>Ijara Tamlikia</p>
      <span class="material-icons">arrow_forward_ios</span>
    </div>

    <div class="card" [routerLink]="['/simulation/islamique-vehicule']">
      <p>Morabaha véhicule</p>
      <span class="material-icons">arrow_forward_ios</span>
    </div>
    <div class="card" [routerLink]="['/simulation/immobilier']">
      <p>Morabaha moto</p>
      <span class="material-icons">arrow_forward_ios</span>
    </div>
    <div class="card" [routerLink]="['/simulation/presurgage']">
      <p>Morabaha Istihlakiya</p>
      <span class="material-icons">arrow_forward_ios</span>
    </div>
  </div>
</div>
