<div class="logo-container mb-2">
  <span class="material-icons icons-header" (click)="goBack()"
    >arrow_back_ios</span
  >
  <div class="header d-flex justify-content-center w-100">
    <div class="title">Détail du Dossier N° 1125</div>
  </div>
</div>

<div class="logo-containerr">
  <div class="navbar-container">
    <div
      (click)="goInfo()"
      [class]="info ? 'nv' : 'nav-items'"
      class="nav-items"
      [routerLink]="['/courtier/detail-dossier/information']"
    >
      <span class="nav-items">Information</span>
    </div>

    <div
      (click)="goCredit()"
      [class]="credit ? 'nv' : 'nav-items'"
      class="nav-items"
      [routerLink]="['/courtier/detail-dossier/detail-credit']"
    >
      <span class="nav-items">Détail du crédit</span>
    </div>

    <div
      (click)="goClient()"
      [class]="client ? 'nv' : 'nav-items'"
      class="nav-items"
      [routerLink]="['/courtier/detail-dossier/detail-client']"
    >
      <span class="nav-items">Détail du client</span>
    </div>

    <div
      (click)="goDoc()"
      [class]="docs ? 'nv' : 'nav-items'"
      class="nav-items"
      [routerLink]="['/courtier/detail-dossier/document']"
    >
      <span class="nav-items">Document</span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
