.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alignement en haut */
  width: 100%;
}

.details-column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  margin-top: 30px;

  display: flex;
  align-items: center;
  box-shadow: 0 0 15px 1px rgba(133, 129, 129, 0.479);
  background-color: rgba(255, 255, 255, 0.884);

  border: 1px solid #ddddddb2;
  border-radius: 5px;
}

/* Style pour les détails du dossier */
.details-column ul {
  list-style-type: none;
  padding: 0;
}

.details-column li {
  margin-bottom: 10px;
  font-weight: 150;
}

.details-column li strong {
  margin-right: 10px;
  font-weight: bold;
}

.title {
  margin-top: 15px;

  color: #666565;
  font-size: 1.8em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 100;
}
.btn_cont {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  width: 50%;
}

.btn2 {
  background-color: #722182;
  color: white;
  border-radius: 20px;
  margin-top: 1%;
  font-size: large;
  box-shadow: 0px -12px 16px 8px rgba(0, 0, 0, 0.25) inset;
}

@keyframes scaleIn {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

.scale-in {
  animation: scaleIn 0.5s ease;
}

@keyframes translate {
  from {
    transform: translate(-20px, -50px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.translate {
  animation: translate 1s ease;
}

.bg-fond {
  background: linear-gradient(
    335deg,
    rgba(254, 182, 0, 1) 50%,
    rgba(114, 33, 130, 1) 51%
  );
  opacity: 0.6;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo-container {
  margin: 0 auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-header {
  margin-top: 2%;
  color: rgb(75, 77, 77);
  font-size: 33px !important;
  transition: 0.2s ease;
  cursor: pointer;
}
.icons-header:hover {
  color: rgba(114, 33, 130, 1);
  transform: scale(1.3);
}

@-webkit-keyframes fade {
  50% {
    opacity: 0.3;
  }
}
@keyframes fade {
  50% {
    opacity: 0.3;
  }
}
/* fin test */
@keyframes scale-in-icons {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 1501px) {
  .progress-container {
    height: 10vh;
  }
  .progressBar-icons {
    font-size: 2vw;
  }
}

@media screen and (max-width: 1500px) {
  .progress-container {
    height: 8vh;
  }
  .progressBar-icons {
    font-size: 2vw;
  }
}
@media screen and (max-width: 1400px) {
  .progress-container {
    height: 8vh;
  }
  .progressBar-icons {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 1200px) {
  .progress-container {
    height: 7vh;
  }
  .progressBar-icons {
    font-size: 2vw;
  }
}

@media screen and (max-width: 1000px) {
  .progress-container {
    height: 7vh;
  }
  .progressBar-icons {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 800px) {
  .progress-container {
    height: 5vh;
  }
  .progressBar-icons {
    font-size: 3vw;
  }
}
@media screen and (max-width: 600px) {
  .progress-container {
    height: 4vh;
  }
  .progressBar-icons {
    font-size: 3vw;
  }
}
@media screen and (max-width: 400px) {
  .progress-container {
    height: 3vh;
  }
  .progressBar-icons {
    font-size: 4vw;
  }
}
