<div class="details-info">
  <div class="numero">Dossier n° : 1125</div>
  <div class="details-column">
    <div class="title-container name">
      <label>Nom:</label>
      <div>Achat d'un F4</div>
    </div>
    <div class="title-container">
      <label>Type du client :</label>
      <div>particulier</div>
    </div>
    <div class="title-container">
      <label>Type du financement :</label>
      <div>Financement traditionnel (conventionnel)</div>
    </div>

    <div class="title-container">
      <label>Type du crédit :</label>
      <div>consom</div>
    </div>
    <div class="title-container">
      <label>Durée du financement :</label>
      <div>4 années</div>
    </div>
    <div class="title-container">
      <label>Date de création :</label>
      <div>01/01/2024</div>
    </div>
    <div class="title-container">
      <label>Statut :</label>
      <div>Dossier complet</div>
    </div>
  </div>
</div>
